<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://lobsterconbackend.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/62416a6e-3a07-4a1f-bcc4-ff9247cb6111/resourcegroups/LobsterCon_ResourceGroup/providers/Microsoft.Web/sites/LobsterConBackEnd</ResourceId>
    <PublishUrl>https://lobsterconbackend.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>